# Python Web framework
Django==1.11.1

# Strict separation of settings from code
python-decouple==3.0

# Use database URLs in Django applications
dj-database-url==0.4.2

# Ease path/files operations
Unipath==1.1

# PostgreSQL adapter for the Python
psycopg2==2.7.1
